@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);

  --font-craciun: var(--font-craciun), sans-serif;
}

:root {

  --background: #ffffff;
  --foreground: #09090b;

  --card: #f4f4f5;
  --card-foreground: #09090b;

  --primary: #dc2626;
  --primary-foreground: #ffffff;

  --muted: #f4f4f5;
  --muted-foreground: #71717a;

  --border: #e4e4e7;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;

  --card: #18181b;
  --card-foreground: #fafafa;

  --primary: #dc2626;
  --primary-foreground: #ffffff;

  --muted: #27272a;
  --muted-foreground: #a1a1aa;

  --border: #27272a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}